# Dependency directories
node_modules/
**/node_modules/

# Build outputs
dist/
.output/
.vinxi/
**/*.tsbuildinfo

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment variables
.env
.env.local
.env.*.local
.env.development

# OS system files
.DS_Store
Thumbs.db